* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #e1dcc5;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 10px 160px;
  background-color: #333333;
}

nav .left {
  width: 120px;
  display: flex;
  justify-content: space-between;
  color: #ffffff;
  text-decoration: none;
}

.left i {
  margin-top: 3px;
}

.left:hover {
  color: #b3aeae;
}

nav .right {
  color: #ffffff;
}

.right h3 a {
  text-decoration: none;
  color: #ffffff;
}

.right h3 a:hover {
  color: #b3aeae;
}

.container {
  width: 1000px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 15px;
}

.logo a,
.book a {
  text-decoration: none;
  color: rgb(16, 16, 16);
  font-weight: 300;
}

.header select {
  border: none;
  width: 150px;
  font-weight: 300;
  font-size: 14px;
  padding: 10px 15px;
  background: none;
}

option {
  color: #ffffff;
  background-color: #333333;
}

.search {
  border: 1px solid black;
  width: 250px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.search #s-box {
  width: 100%;
  padding: 12px 10px;
  background-color: #ffffff;
  border: none;
  outline: none;
}

.search #s-icon {
  position: absolute;
  top: 12.5px;
  right: 10px;
}

#login a,
#sign-up {
  text-decoration: none;
  color: rgb(16, 16, 16);
  font-weight: 300;
}

#sign-up {
  background-color: #0376b8;
  color: #ffffff;
  padding: 5px 10px;
  border-radius: 5px;
}

main {
  border: none;
  border-radius: 5px;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  background: #ffffff;
}

/* .one,
.two,
.three {
  width: 100%;
} */

main .one h2 {
  font-weight: 500;
  color: #647a99;
}

.one .row {
  display: flex;
  gap: 10px;
  margin-top: 15px;
  margin-bottom: 30px;
}

.col {
  display: flex;
  gap: 15px;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 20px 10px;
  background-color: #fcfbf7;
}
